@charset "UTF-8";
/* Preloader */
.isPreload {
  overflow: hidden;
}

.preloadCentrado {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* BASIC */
html {
  min-height: 100%;
  text-align: center;
  align-items: center;
  justify-items: center;
  margin: auto auto;
}

.content {
  width: 100%;
  margin: auto;
}

.major {
  width: 100%;
  margin: 0;
}

body {
  height: auto;
  width: auto;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("/thehakodrako.github.io/images/fond.jpg");
  background-size: cover;
  text-align: center;
  /* Estilos para pantallas de móvil */
  /* Estilos para pantallas de escritorio de tamaño mediano */
  /* Estilos para pantallas de escritorio grandes */
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
  }
  body .btnIntro {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  body .btnWork {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  body .btnAbout {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  body .btnContact {
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1280px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1281px) {
  body {
    font-size: 18px;
  }
}

main {
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* Estilos para pantallas de móvil */
  /* Estilos para pantallas de escritorio de tamaño mediano */
  /* Estilos para pantallas de escritorio grandes */
}
@media only screen and (max-width: 600px) {
  main {
    width: 90%;
    margin: 0 auto;
  }
  main .btnIntro {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  main .btnWork {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  main .btnAbout {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  main .btnContact {
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1280px) {
  main {
    width: 70%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1281px) {
  main {
    width: 50%;
    margin: 0 auto;
  }
}

button {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 18px;
  border-radius: 10px;
  color: white;
  margin-left: 16px;
  border: transparent;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

button:hover {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.botonEfecto {
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 18px;
  font-weight: 50;
  padding: 0.5em 3.2em;
  background: rgba(0, 0, 0, 0.5);
  border: 2px transparent;
  border-color: #ffffff;
  position: relative;
}

.botonEfecto:hover {
  color: rgb(255, 255, 255) !important;
  box-shadow: 0 1px 8px rgb(255, 255, 255);
  transition: all 0.3s ease;
}

#header {
  text-align: center;
  align-items: center;
  justify-items: center;
}

/* BODDY & WRAPPER */
#wrapper {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  margin: 200px 0;
  margin-left: auto;
}

/* LETRA */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.letter-1 {
  animation-delay: 0.1s;
}

.letter-2 {
  animation-delay: 0.2s;
}

.letter-3 {
  animation-delay: 0.3s;
}

.letter-4 {
  animation-delay: 0.4s;
}

.letter-5 {
  animation-delay: 0.5s;
}

.letter-6 {
  animation-delay: 0.6s;
}

.letter-7 {
  animation-delay: 0.7s;
}

.letter-8 {
  animation-delay: 0.8s;
}

.letter-9 {
  animation-delay: 0.9s;
}

.letter-10 {
  animation-delay: 1s;
}

.letter-11 {
  animation-delay: 1.1s;
}

.letter-12 {
  animation-delay: 1.2s;
}

.letter-13 {
  animation-delay: 1.3s;
}

.letter-14 {
  animation-delay: 1.4s;
}

.letter-15 {
  animation-delay: 1.5s;
}

.letter-16 {
  animation-delay: 1.6s;
}

.letter-17 {
  animation-delay: 1.7s;
}

.letter-18 {
  animation-delay: 1.8s;
}

.letter-19 {
  animation-delay: 1.9s;
}

.letter-20 {
  animation-delay: 2s;
}

.text-animation {
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.8s;
}

h1 {
  color: #ffffff;
  font-weight: 600;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 1.3;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 20px;
  color: rgb(231, 236, 236);
  margin-bottom: 30px;
}

#header .content p {
  color: #ffffff;
  margin: 0 0 2rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  line-height: 2;
}

#footer {
  text-align: center;
  color: white;
  text-decoration: solid;
  padding-top: 16px;
}

.copyright {
  text-decoration: solid;
  color: white;
}

.lineText {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  text-decoration: underline;
  color: antiquewhite;
}

/* IMG */
.main-image {
  display: block;
  margin: auto;
}

.small-image {
  width: 40%;
}

.full-image {
  width: 90%;
  margin-top: 10px;
}

/* MODAL */
#modalIntro::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

#modalIntro {
  width: 500px;
  margin: auto;
}

@media (min-width: 768px) {
  #modalIntro {
    width: 50%;
    margin: auto;
  }
}
#btnCerrarIntro {
  position: absolute;
  top: 10px;
  right: 10px;
}

#modalWork::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

#modalWork {
  width: 500px;
  margin: auto;
}

@media (min-width: 768px) {
  #modalWork {
    width: 50%;
    margin: auto;
  }
}
#btnCerrarWork {
  position: absolute;
  top: 10px;
  right: 10px;
}

#modalAbout::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

#modalAbout {
  width: 500px;
  margin: auto;
}

@media (min-width: 768px) {
  #modalAbout {
    width: 50%;
    margin: auto;
  }
}
#btnCerrarAbout {
  position: absolute;
  top: 10px;
  right: 10px;
}

#modalContact::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

#modalContact {
  max-width: 50ch;
}

#btnCerrarContact {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card {
  background: linear-gradient(135deg, rgba(27, 31, 34, 0.5), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  border: 0.5px solid rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  padding: 24px;
}

.card :where(h2, p) {
  color: #ffffff;
  text-align-last: left;
  margin: 0;
}

.card h2 {
  width: max-content;
  margin: 0 0 0.2rem 0;
  padding-bottom: 0.2rem;
  border-bottom: solid 1px #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.5rem;
}

.card p {
  margin-block-start: 1em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font: inherit;
  font-family: sans-serif;
  margin-top: 10px;
  font-size: 17px;
  color: #d1d1d1;
  text-align: justify;
}

/* FORM */
body, input, select, textarea {
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.65;
}

textarea {
  writing-mode: horizontal-tb !important;
  font-family: monospace;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: field;
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
}

form {
  margin: 12px 5px 2rem 0;
}

form > .fields {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: auto;
  margin: 0px 0px 2.5rem 0px;
}

form > .fields > .field.half {
  width: calc(50% - 1.75rem);
}

form > .fields > .field {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  padding: 2rem 0 4px 1.5rem;
  width: calc(100% - 2.5rem);
}

label {
  color: #ffffff;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

input[type=text], input[type=password], input[type=email], select {
  height: 2.75rem;
}

input[type=text], input[type=password], input[type=email], input[type=tel], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -webkit-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 12px;
  border: solid 2px #ffffff;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0px 0.5rem;
  text-decoration: none;
  width: 100%;
  margin-left: -20px;
  color: white;
}

input[type=submit], input[type=reset] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  height: 2.75rem;
  letter-spacing: 0.2rem;
  line-height: 2.75rem;
  outline: 0;
  padding: 0 1.25rem 0 1.35rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type=submit], input[type=reset] {
  line-height: calc(2.75rem - 2px);
}

input[type=submit].primary, input[type=reset].primary, input[type=button].primary, button.primary, .button.primary {
  background-color: #ffffff;
  color: #1b1f22 !important;
  font-weight: 600;
}

form > :last-child {
  margin-bottom: 0;
}

ul {
  margin: 0 0 2rem 0;
  padding-left: 1em;
}

ul.actions {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: auto;
  padding-left: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul li {
  padding-left: 0.5em;
}

ul.icons li {
  display: inline-block;
  padding: 0 0.75em 0 0;
}

ul.icons li a {
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px #ffffff;
  display: inline-block;
  height: 3.25rem;
  line-height: 3.5rem;
  text-align: center;
  width: 3.25rem;
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
  color: white;
  font-size: 22px;
}

.icon:before {
  line-height: inherit;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 600px) {
  /* Estilos para pantallas de móvil */
}
@media only screen and (min-width: 601px) and (max-width: 1280px) {
  /* Estilos para pantallas de escritorio de tamaño mediano */
}
@media only screen and (min-width: 1281px) {
  /* Estilos para pantallas de escritorio grandes */
}

/*# sourceMappingURL=styles.css.map */
